.title {
  text-transform: capitalize;
  margin: auto;
  text-align: center;
}
.pokimg {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.btn {
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: center;
  color: red;
  background: white;
}

.btn:active {
  color: goldenrod;
  background: black;
}
.txt {
  justify-content: center;
  flex-wrap: wrap;
  display: inline-flex;
  width: 200px;
}
.boxx {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.txt h2 {
  align-items: center;
  margin: 5px;
  text-align: center;
  padding: 5px;
  background: black;
  color: white;
  width: 200px;
}

.txt li {
  text-align: center;
  text-transform: capitalize;
  list-style: none;
  background: black;
  color: white;
  width: 150px;
  margin: 3px;
}
.aa {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
